body{
    background-color: grey;
}

#LLLmap.area.country:hover {
    transform: scale(1.5); 
}

#myMap{

    /*
    position:absolute;
    left:0;
    top:0;
    */
}

#myCanvas{
    border: 1px solid blue;
    position:absolute;
}